.sidebar{
    width: 15%;
    height: 100%;
    background-color: #E4E7EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
    border-right: 1px solid #D3D3D3;
}

.sidebar-title{
    font-size: 0.8rem;
    font-weight: 700;
}

.nav-items{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-item{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.nav-text{
    font-size: 0.5rem;
    font-weight: 500;
}

.nav-item.active{
    background-color: #FBCFE8;
    color: #F97316;
    border-radius: 10px;
    padding: 0.5rem;
}