.sidebar {
  width: 20%;
  height: 100%;
  background-color: #e4e7ec;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 0.5rem;
  border-right: 1px solid #d3d3d3;
}

.sidebar-title {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0 0.5rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
}

.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
}

.nav-text {
  font-size: 14px;
  font-weight: 700;
}

.nav-item.active {
  background-color: #fbede7;
  color: #ff5c01;   
  border-radius: 10px;
  padding: 0.5rem;
}
