.top-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, #00b4db, #0083b0);
  animation: loader 0.5s linear forwards;
  z-index: 9999;
}

.top-loader.reverse {
  background: linear-gradient(to left, #00b4db, #0083b0);
  animation: loader-reverse 0.5s linear forwards;
}

@keyframes loader {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes loader-reverse {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.layout {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  height: 10%;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 24px;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.side1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 1rem;
  color: white;
  border: none;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  background: linear-gradient(to right, #ff76b4, #ff4b7d, #ff396b);
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 1rem;
  color: white;
  border: none;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  background: linear-gradient(to right, #8b5d3b, #6d4423, #311e01);
}

.side2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.points {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 12px;
  font-weight: 300;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 16px;
}

.content {
  height: 90%;
  display: flex;
}
